body
{
  margin:0;
  padding:0;
  background-color:#EEEEEE;
}

.my-flex-container{
  display: flex;
  background-color:#EEEEEE;
  margin: auto;
  width: 80%;
  height: 110%;
}

.my-flex-block-left{
  flex-flow: column wrap;
  background-color:#EEFFFF;
  align-content: space-around;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 59%;
}

.my-flex-block-right{
  flex-flow: column wrap;
  background-color:#EEFFEE;
  align-content: space-around;
  align-self:auto;
  margin-top: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 38%;
}

.my-flex-block-content{
  flex-flow:column wrap;
  background-color: #FFFFFF;
  align-content:space-around;
  margin:auto;
  width:90%;
  height:97%;
}

.my-flex-block-tools-comment{
  display: flex;
  background-color:#FFFFDD;
  align-content: space-around;
  margin: auto;
  margin-top: 10px;
  width: 99%;
}

.my-flex-block-comments_list{
  display: flex;
  background-color:#FFFFDD;
  align-content: space-around;
  margin: auto;
  margin-top: 10px;
  width: 99%;
}

.my-flex-block-tool-comment{
  flex-flow: column wrap;
  background-color:#FFFFDD;
  align-content: space-around;
  margin: auto;
  width: 33%;
}

.my-flex-block-comments{
  flex-flow: column wrap;
  background-color:#FFFFEE;
  align-content: space-around;
  margin: auto;
  width: 90%;
}

.my-flex-block-add-comment{
  flex-flow: column wrap;
  background-color:#FFFFAA;
  align-content: space-around;
  margin: auto;
  width: 99%;
}

.my-flex-block-new-post-label{
  flex-flow: column wrap;
  background-color:#EEFFFF;
  align-content: space-around;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 10%;
  font-size:10px;
}

.my-flex-block-new-post-item{
  flex-flow: column wrap;
  background-color:#EEFFEE;
  align-self:auto;
  margin-top: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  width: 88%;
}





.my-button-likes {
  background-color:#AAEEEE;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.my-button-add-comment {
  background-color:#FFFFAA;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.my-button-load {
  background-color:#DDDDDD;
  border: none;
  color: black;
  padding: 3px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.my-button-send-post {
  background-color:#EEEE88;
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.my-button-send-comment {
  background-color:#EEEE88;
  border: none;
  color: black;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.my-textarea-message{  
  font-size:14px;
  margin:10px auto;
  display:block;
  padding:3px;
  width:99%;
  height:auto;
  resize:none;
  border:none;
  overflow:hidden;
}

.my-textarea-message-comment{  
  font-size:10px;
  margin:10px auto;
  display:block;
  padding:3px;
  width:99%;
  height:50px;
  resize:none;
  border:none;
  overflow:hidden;
}


.my-class-nodisplay{
  display: none;
}


.my-label-font-10{
  font-size:10px;
}
.my-label-font-12{
  font-size:12px;
}